.DS_Store
node_modules/
dist/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports

.idea/jsLibraryMappings.xml

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/dictionaries/soya.xml

.idea/encodings.xml

.idea/libraries/vue_demo_node_modules.xml

.idea/misc.xml

.idea/modules.xml

.idea/vue-demo.iml

.idea/workspace.xml
